.transition-fade-enter, .transition-fade-leave-to {
	opacity: 0;
}
.transition-fade-enter-active, .transition-fade-leave-active {
	transition: opacity 0.2s linear;
}

.transition-slide-fade-enter, .transition-slide-fade-leave-to {
	opacity: 0;
	transform: translateY(-1rem) rotateX(-20deg);
}
.transition-slide-fade-enter-active, .transition-slide-fade-leave-active {
	transition: opacity 0.2s linear, transform 0.2s ease;
}
