//Fade enter
.transition-fade-enter, .transition-fade-leave-to {
	opacity: 0;
}
.transition-fade-enter-active, .transition-fade-leave-active {
	transition: opacity 0.2s linear;
}

//Slide fade enter
.transition-slide-fade-enter, .transition-slide-fade-leave-to {
	opacity: 0;
	transform: translateY(-1rem) rotateX(-20deg);
}
.transition-slide-fade-enter-active, .transition-slide-fade-leave-active {
	transition: opacity 0.2s linear, transform 0.2s ease;
}

//Horizontal slide enter
.transition-horizontal-slide-enter {
	opacity: 0;
	transform: translateX(-1rem);
}
.transition-horizontal-slide-leave-to {
	opacity: 0;
	transform: translateX(1rem);
}
.transition-horizontal-slide-enter-active, .transition-horizontal-slide-leave-active {
	transition: opacity 0.2s linear, transform 0.2s ease;
}

//Grow
.transition-grow-enter, .transition-grow-leave-to {
	max-width: 0;
	opacity: 0;
	overflow-x: hidden;
}
.transition-grow-enter-to, .transition-grow-leave {
	max-width: 10rem;
	opacity: 1;
	overflow-x: hidden;
}
.transition-grow-enter-active, .transition-grow-leave-active {
	transition: max-width 0.2s ease-in-out, opacity 0.2s;
}