//Colours
$gray-hover: #F5F5F5; //on hover for background-color from white
$gray-0: #EEEEEE; //off-white
$gray-1: #E0E0E0; //lightest
$gray-2: #BDBDBD; //lighter
$gray-3: #9E9E9E; //default
$gray-4: #757575; //darker
$gray-5: #424242; //darkest

$blue-1: #64B5F6;
$blue-2: #2196F3;
$blue-3: #1E88E5;
$blue-4: #1976D2;
$blue-5: #115cd0;

$red-0: #EF5350;
$red-1: #F44336;
$red-2: #E53935;
$red-3: #D32F2F;
$red-4: #C62828;
$red-5: #B71C1C;



//Text colours
$text-primary: rgba(black, 0.87);
$text-secondary: rgba(black, 0.54);

//Font
$font-family: 'Fira Sans', sans-serif;